table{
    width: 100%;
}

.filter{
    display: block;
    padding-right: 20px;
}

.posFilter{
    display: block;
    width: 50px;
    padding-right: 10px;

}

.smallColumn{
    width: 50px; 
    padding-right: 10px;
}

th{
    vertical-align: top;
}