<table mat-table #table [dataSource]="dataSource" *ngIf="dataSource">
    <ng-container matColumnDef="column">
      <th mat-header-cell *matHeaderCellDef> name
        <mat-form-field floatLabel="never" class="filter">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="nameFilter" >
          </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="somethingelse">
      <th mat-header-cell *matHeaderCellDef> year
      </th>
      <td mat-cell *matCellDef="let row"> {{row.year}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['column', 'somethingelse']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['column', 'somethingelse'];"></tr>
  </table>