
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './../node_modules/bootstrap/scss/bootstrap.scss';
@import'./../node_modules/bootstrap/scss/mixins';
// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CFB-UI-primary: mat-palette($mat-indigo);
$CFB-UI-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CFB-UI-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$CFB-UI-theme: mat-light-theme($CFB-UI-primary, $CFB-UI-accent, $CFB-UI-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($CFB-UI-theme);

/* You can add global styles to this file, and also import other style files */


.home-page-main-bar{
    margin: 0px !important;
    height: 50px !important;
}

mat-toolbar{
    margin-bottom: 3px !important;
    
}


.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 7px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 

.btn-circle.btn-md { 
    width: 40px; 
    height: 40px; 
    padding: 7px; 
    border-radius: 20px; 
    font-size: 10px; 
    text-align: center; 
} 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
